Source: git-extras
Section: vcs
Priority: extra
Maintainer: Jesus Espino <jespinog@gmail.com>
Build-Depends: debhelper (>= 8.0.0), ruby-ronn (>= 0.7.3)
Standards-Version: 3.9.3
Homepage: http://github.com/visionmedia/git-extras

Package: git-extras
Architecture: all
Depends: ${misc:Depends}, git (>= 1.7.0)
Description: Extra commands for git
 This package provides extra git commands to ease resolving of some typical
 tasks, like manage remote branches, manage the feature/refactor/bug workflows
 with branch open, close and delete and some repository stats generators.
